node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
dist
*.md
!README.md
.vscode
.idea
coverage
.nyc_output
cache
artifacts/build-info
artifacts/**/*.dbg.json
test
docs
.DS_Store
*.log
